<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <title>Ping coming soon page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <nav class="nav" id="app">
        <img class="nav__logo" src="images/logo.svg">
        <h1 class="nav__title">We are launching <span class="nav__title-span">soon!</span></h1>
        <p class="nav__paragraph">Subscribe and get notified</p>
        <form class="form" @submit="checkForm" action="https://vuejs.org/" method="post" novalidate="true">
            <div class="form__email-container">
                <input v-model="email" class="form__email" :class="{ form__email_error: error }" type="email" id="email" name="email" placeholder="Your email address...">
                <p v-if="error" class="form__error">Please provide a valid email address</p>
            </div>
            <button class="form__submit" type="submit">Notify Me</button>
        </form>
    </nav>

    <main class="main">
        <img class="main__img" src="images/illustration-dashboard.png">
    </main>

    <footer class="footer">
        <div class="footer__social-networks">
            <i class="footer__icon fab fa-facebook-f"></i>
            <i class="footer__icon fab fa-twitter"></i>
            <i class="footer__icon footer__icon--instagram fab fa-instagram"></i>
        </div>
        <small class="footer__copy">&copy; Copyright Ping. All rights reserved.</small>
        <!-- <p class="attribution">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
            Coded by <a href="#">Abdiel P. Carrera</a>.
        </p> -->
    </footer>
    <script src="javascript/main.js"></script>
</body>
</html>