@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$primary-blue: hsl(223, 87%, 63%);
$secondary-pale-blue: hsl(223, 100%, 88%);
$secndary-light-red: hsl(354, 100%, 66%);
$neutral-gray: hsl(0, 0%, 59%);
$neutral-very-dark-blue: hsl(209, 33%, 12%);
$font-libre-franklin: 'Libre Franklin', sans-serif;

$mobile-input-padding: 12px 35px;

@mixin formInput($color) {
    border: 1px solid $color;
    padding: $mobile-input-padding;
}