.footer {
    text-align: center;
    width: 100%;
}

.footer__icon {
    font-size: 13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 5.5px;
    color: $primary-blue;
    border: 1px solid rgba(194, 211, 255, .5);
}

.footer__icon--instagram {
    padding: 5px;
    font-size: 14px;
}

.footer__copy {
    font-size: 15px;
    color: $neutral-gray;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}