@mixin formInput($color) {
    border: 1px solid $color;
    padding: $mobile-input-padding;
    margin: 5px;
}

.nav {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8rem 2rem 3.3rem;

}

.nav__logo {
    width: 52px;
}

.nav__title {
    font-size: 1.3rem;
    // letter-spacing: .2px;
    // width: 300px;
    margin: 32px 0 15px 0;
    font-weight: 300;
    color: $neutral-gray;
}

.nav__title-span {
    color: initial;
    font-weight: 700;
}

.nav__paragraph {
    font-size: 12px;
}

.form {
    width: 275px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    // background: red;
}

.form__error {
    text-align: center;
    margin-bottom: 25px;
    font-size: 10px;
    color: $secndary-light-red;
}

.form__email {
    @include formInput($secondary-pale-blue);
    // width: 265px;
    width: 100%;
    padding: 12px 35px;
    border-radius: 25px;
    &::placeholder {
        // font-size: 12px;
        color: $secondary-pale-blue;
        opacity: .7;
    }
}

.form__email_error { //Had to use this format for this modifier because of vue :class
    border: 1px solid $secndary-light-red;
}

.form__submit {
    @include formInput($primary-blue);
    width: 100%;
    font-size: 12px;
    color: #ffffff;
    background: $primary-blue;
    padding: 12px 35px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 2px rgba(79,125,243,0.3);
    -webkit-box-shadow: 0px 5px 15px 2px rgba(79,125,243,0.3);
    -moz-box-shadow: 0px 5px 15px 2px rgba(79,125,243,0.3);
}

@media (min-width: 800px) {
    .nav__logo {
        width: 90px;
    }

    .nav__title {
        font-size: 2.5rem;
    }

    .nav__paragraph {
        font-size: initial;
    }

    .form {
        flex-direction: row;
        width: 550px;
    }

    .form__email {
        width: 360px;
        height: 45px;
        &::placeholder {
            font-size: 15px;
        }
    }

    .form__submit {
        font-size: 15px;
        height: 45px;
        width: 170px;
    }

    .form__error {
        margin: 0;
    }
}