@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
.nav {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.2rem 2rem 3.3rem;
}

.nav__logo {
  width: 55px;
}

.nav__title {
  font-size: 1.3rem;
  margin: 32px 0 15px 0;
  font-weight: 300;
  color: #969696;
}

.nav__title-span {
  color: initial;
  font-weight: 700;
}

.nav__paragraph {
  font-size: 12px;
}

.form {
  width: 275px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.form__error {
  text-align: center;
  margin-bottom: 25px;
  font-size: 10px;
  color: #ff5263;
}

.form__email {
  border: 1px solid #c2d3ff;
  padding: 12px 35px;
  margin: 5px;
  width: 100%;
  padding: 12px 35px;
  border-radius: 25px;
}
.form__email::placeholder {
  color: #c2d3ff;
  opacity: 0.7;
}

.form__email_error {
  border: 1px solid #ff5263;
}

.form__submit {
  border: 1px solid #4f7df3;
  padding: 12px 35px;
  margin: 5px;
  width: 100%;
  font-size: 12px;
  color: #ffffff;
  background: #4f7df3;
  padding: 12px 35px;
  border-radius: 25px;
  box-shadow: 0px 5px 15px 2px rgba(79, 125, 243, 0.3);
  -webkit-box-shadow: 0px 5px 15px 2px rgba(79, 125, 243, 0.3);
  -moz-box-shadow: 0px 5px 15px 2px rgba(79, 125, 243, 0.3);
}
.form__submit:hover {
  border: 1px solid #7095f5;
  background-color: #7095f5;
}

@media (min-width: 800px) {
  .nav__logo {
    width: 90px;
  }

  .nav__title {
    font-size: 2.5rem;
  }

  .nav__paragraph {
    font-size: initial;
  }

  .form {
    flex-direction: row;
    width: 550px;
  }

  .form__email {
    width: 360px;
    height: 45px;
  }
  .form__email::placeholder {
    font-size: 15px;
  }

  .form__submit {
    font-size: 15px;
    height: 45px;
    width: 170px;
  }

  .form__error {
    margin: 0;
  }
}
.footer {
  text-align: center;
  width: 100%;
}

.footer__icon {
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6.5px;
  color: #4f7df3;
  border: 1px solid rgba(194, 211, 255, 0.5);
  text-align: center;
  vertical-align: middle;
}
.footer__icon:hover {
  color: #fff;
  background: #4f7df3;
}

.footer__icon--instagram {
  padding: 5.5px;
  font-size: 15px;
}

.footer__copy {
  display: block;
  font-size: 10px;
  color: #969696;
  margin: 30px 0;
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 800px) {
  .footer__social-networks {
    margin-top: 2.5rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.main {
  width: 100%;
  text-align: center;
  margin: 1rem 0 8rem 0;
}

.main__img {
  width: 315px;
}

@media (min-width: 800px) {
  .main {
    margin-bottom: 2rem;
  }

  .main__img {
    width: 550px;
  }
}

/*# sourceMappingURL=main.css.map */
